[submodule "pack/vendor/start/vim"]
	path = pack/vendor/start/vim
	url = https://github.com/catppuccin/vim
[submodule "pack/vendor/start/lightline.vim"]
	path = pack/vendor/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "pack/vendor/start/auto-pairs"]
	path = pack/vendor/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "pack/vendor/start/nerdtree"]
	path = pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree
